
Python/.idea/vcs.xml
Python/.idea/workspace.xml
Python/.idea/Python.iml
Python/.idea/modules.xml
Python/.idea/misc.xml
Python/.idea/inspectionProfiles/profiles_settings.xml
Model/__pycache__
BruteForceModel/__pycache__
Review4/__pycache__
Q2/Data
